@charset "UTF-8";



            body {
                    background-color: lightblue;
                    font: normal 1em Arial;
            }
            
            header {
                    color: white;
                    text-align: center;
            
            }
            
            section {
                   background: white;
                   border-radius: 10px;
                   padding: 15px;
                   width: 500px;
                   margin: auto;
                   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.413);
            
            }
            
            div {
                   text-align: center;
                   padding: 8px;
            
            }
            img#image {
                   width: 150px;
                   margin: 10px;
                   border-radius: 50%;
                   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
                   box-sizing: border-box;
              
            }
            
            footer {
                   color: white;
                   text-align: center;
                   font-style: italic;
            
            
            }
    
